{% if site.twitter_user %}
<section>
  <h2>{% if site.show_aside_icons %}<i class="icon-twitter"></i>&nbsp;&nbsp;{% endif %}Latest Tweets</h2>
  <ul id="tweets">
    <li class="loading"><i class="icon-spinner icon-spin"></i> Status updating...</li>
  </ul>
  {% if site.twitter_follow_button %}
    <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
  {% else %}
  	<a href="http://twitter.com/{{site.twitter_user}}" class="btn"><i class="icon-twitter icon-large"></i> <b>Follow @{{ site.twitter_user }}</b></a>
  {% endif %}
</section>
{% endif %}
