<h1>
{% if site.hero_title %}
{{ site.hero_title }}
{% else %}
Some cool hero title!
{% endif %}
</h1>
<p>
{% if site.hero_description %}
{{ site.hero_description }}
{% else %}
Some more text that is descriptive about what one might find here.
{% endif %}
</p>
{% if site.hero_hide_button != true %}
	<p><a href="{% if site.hero_button_href %}{{ site.hero_button_href }}{% else %}#{% endif %}" class="btn btn-primary btn-large">
	{% if site.hero_button_label %}
	{{ site.hero_button_label }}
	{% else %}
	Learn more
	{% endif %}
	&raquo;</a></p>
{% endif %}