<div class="navbar-inner">
  <div class="container">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" href="{{ root_url }}/">{{ site.title }}</a>
    <div class="nav-collapse collapse">
      {% include custom/navigation.html %}
      {% if site.simple_search %}
        <form action="{{ site.simple_search }}" method="get" class="navbar-search pull-right">
          <fieldset role="search">
            <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
            <div class="icon-ph"><i class="icon-search"></i></div>
            <input type="text" name="q" results="0" placeholder="Search&hellip;" class="search-query span2" />
          </fieldset>
        </form>
      {% endif %}
      {% if site.feedburner_url %}
      <ul class="nav pull-right">
        <li>
          <a style="padding: 7px 0 0 0;" href="{{ site.feedburner_url }}"><img src="{{ site.feedburner_img_url }}&amp;fg=444444&amp;anim=0" height="26" width="88" style="border:0" alt="" /></a>            
        </li>
      </ul>
      {% endif %}
      <!--<form class="navbar-form pull-right">
        <input class="span2" type="text" placeholder="Email">
        <input class="span2" type="password" placeholder="Password">
        <button type="submit" class="btn">Sign in</button>
      </form>-->
    </div><!--/.nav-collapse -->
  </div>
</div>