---
layout: default
sidebar: false
---

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  {% include hero.html %}
</div>

<div class="row">
{% for post in paginator.posts limit: 3 %}
  <div class="span4">
    <h2>{{ post.title }}</h2>
    <p>{{ post.content | split:'<!-- excerpt end -->' | first | split:'<!-- excerpt start -->' | last }}</p>
    <p><a class="btn" href="{{ root_url }}{{ post.url }}">read more &raquo;</a></p>
  </div>
{% endfor %}
</div>