// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$header-bg: #263347;
$subtitle-color: lighten($header-bg, 58);
$title-color: #000000;
$meta-color: lighten($title-color, 50);
//$nav-bg: desaturate(lighten(#562D0E, 18), 5);
$nav-bg: #3E2315;
$nav-bg-front: image-url('noise.png');
$nav-bg-back: linear-gradient(lighten($nav-bg, 3), $nav-bg, darken($nav-bg, 3));
$nav-text-color: #BDC5B5;
$nav-text-color-active: lighten($nav-text-color, 50);
$nav-bg-color-hover: darken($nav-bg, 10);
$nav-bg-color-active: darken($nav-bg, 5);

$well-bg: lighten($nav-text-color, 20);
$well-border: #e3e3e3;

$btn-color: $nav-bg-color-active;
$btn-bg: lighten($nav-text-color, 20);
$btn-bg-darker: darken($btn-bg, 10);
$btn-bg-hover: lighten($nav-text-color, 15);
$btn-bg-hover-darker: darken($btn-bg-hover, 10);
$btn-bg-disabled: lighten($nav-text-color, 5);
$btn-bg-disabled-darker: darken($btn-bg-disabled, 10);
$btn-bg-active: darken($nav-text-color, 5);

$link-color: #704C20;
$link-hover-color: #A79459;
$dropdown-bg-color: darken($link-color, 10);

$search-color: $nav-bg-color-hover;
$search-bg: darken($nav-text-color, 10);

//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
